body {
    font-size: 'Arial';
    background-color:  #fdecef;

}

h1 {
    color: #d16ba5;
    text-align: center;
    font-family: 'Dancing Script';
    font-size: 50px

}

h2 {
    color: #d16ba5;
    text-align: center;
    font-family: 'Dancing Script';
    font-size: 30px
}

h3 {
    color: whitesmoke;
    color: whitesmoke;
}

a {
    color: whitesmoke;
}

p {
    text-align: justify;
}

.seccion {
    padding: 30px;
}

.cajas {
    text-align: center;
    margin-bottom: 30px;
}

.caja {
    display: inline-block;
    width: 25%;
    padding: 20px;
    margin: 5px;
    min-height: max-content;
    background-color: white;
    border-radius: 15px;
    background: linear-gradient(#d196b7, white);
}


.caja h3 {
    color: #e64a8b;
    font-size: xx-large;
}

.caja p {
    font-size: xx-large;
    text-align: center;
}


.columna-1 {
    width: 90%;
    height: 150px;
    padding: 20px;
    margin: 10px;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.5);
    background-image: url("marmellowallpaper.jpg");
    background-attachment: fixed;
    margin-bottom: 40px;

}

.columna-4 {
    width: 90%;
    height: 150px;
    padding: 20px;
    margin: 10px;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.5);
    background-image: url("marmellowallpaper.jpg");
    background-attachment: fixed;
    margin-bottom: 40px;

}

.columna-3 {
    width: 90%;
    height: 150px;
    padding: 20px;
    margin: 10px;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.5);
    background: linear-gradient(rgb(50, 158, 246), #5696fd);
    margin-bottom: 40px;
}

.columna-2 {
    width: 90%;
    height: 150px;
    padding: 20px;
    margin: 10px;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.5);
    background: linear-gradient(rgb(50, 158, 246), #5696fd);
    margin-bottom: 40px;
}


.columna-presentacion {
    background-color: #ff99cc;
    padding: 20px;
    border-color: #170410;
    margin-left: 100px;
    margin-right: 100px;
}

.presentacion {
    background-color: #ff9fc9;
    padding: 20px;
}

.imagen-presentacion,.parrafo-presentacion {
    display: inline-block;
    vertical-align: top;
}

.imagen-presentacion {
    width: 40%;
    margin-left: 10%;
    margin-top: 40px;
    margin-bottom: 40px;
}

.parrafo-presentacion {
    width: 40%;
    padding: 20px;
    margin-top: 40px;
}

.parrafo-presentacion {
    font-family: 'merienda', cursive;
    font-size: 22px;
    line-height: 1.6;
    color: #000;
    margin-left: 10px
    margin-top: 40px;
    margin-bottom: 40px;
}

.costos {
    background-color: #ff9fc9;
    padding: 20px;
    margin-top: 20px;
    font-family: 'Merienda', cursive;
    height: max-content;
}

.boton-whatsapp {
    display: inline-block;
    background-color: #25d366;
    color: white;
    padding: 12px 20px;
    text-decoration: none;
    border-radius: 8px;
    font-weight: bold;
    margin: 10px;
}

.boton-whatsapp:hover {
    background-color: rgb(5, 209, 86)
}

.boton-facebook {
    display: inline-block;
    background-color: #0022ff;
    color: white;
    padding: 12px 20px;
    text-decoration: none;
    border-radius: 8px;
    font-weight: bold;
    margin: 10px;
}

.boton-facebook:hover {
    background-color: #001075;
}

.boton-ubicacion {
    display: inline-block;
    background-color: #d71b1b;
    color: white;
    padding: 12px 20px;
    text-decoration: none;
    border-radius: 8px;
    font-weight: bold;
    margin: 10px;
}

.boton-ubicacion:hover {
    background-color: rgb(244, 0, 0);
}

.boton-correo {
    display: inline-block;
    background-color: #ff5500;
    color: white;
    padding: 12px 20px;
    text-decoration: none;
    border-radius: 8px;
    font-weight: bold;
    margin: 10px;
}

.boton-correo:hover {
    background-color: #d2700d;
}


img {
    width: 512px;
    height: auto;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.5);
}
