body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(246, 193, 204);
    margin: 10px;
}

h1 {
    color: #d16ba5;
    text-align: center;
}

h2 {
    color: #845ec2;
    margin-top: 30px;
}

p {
    line-height: 1.6;
}

img {
    width: 200px;
    margin: 10px;
    border-radius: 10px;
    border-color: #845ec2;
    border-style: solid;
    border-width: 3px;
}

.columna-productos {
    background-color: blueviolet;
    width: 80%;
    height: 80%;
    padding: 20px
}

.columna-contacto {
    background-color: #cb5050;
    width: 80%;
    height: 80%;
    padding: 20px
}

.boton-whatsapp {
    display: inline-block;
    background-color: #25d366;
    color: white;
    padding: 12px 20px;
    text-decoration: none;
    border-radius: 8px;
    font-weight: bold;
}

.boton-whatsapp:hover {
    background-color: rgb(5, 209, 86)
}

.boton-facebook {
    display: inline-block;
    background-color: #0022ff;
    color: white;
    padding: 12px 20px;
    text-decoration: none;
    border-radius: 8px;
    font-weight: bold;
}

.boton-facebook:hover {
    background-color: #3a4bbc;
}

.boton-ubicacion {
    display: inline-block;
    background-color: #d71b1b;
    color: white;
    padding: 12px 20px;
    text-decoration: none;
    border-radius: 8px;
    font-weight: bold;
}

.boton-ubicacion:hover {
    background-color: rgb(244, 0, 0);
}

.boton-correo {
    display: inline-block;
    background-color: #f18306;
    color: white;
    padding: 12px 20px;
    text-decoration: none;
    border-radius: 8px;
    font-weight: bold;
}

.boton-correo:hover {
    background-color: #e54e02;
}